@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/fonts";
@import "libs";

$light-color:    #fff;
$accent-color:   #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color:  #44444f;
$gray-color:     #9191b5;

h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}
h3 {
	font-size: 24px;
}

body {
	font-family: 'Roboto Slab', serif;
	line-height: 24px;
	font-size: 15px;
}
.wrap {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page-main {
	background-image: url(../img/bg-main.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-color;
	padding-bottom: 155px;
}

.page {
	padding-top: 161px;
	padding-bottom: 160px;
	position: relative;
	overflow: hidden;
	@media(max-width: 1020px) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@media(max-width: 768px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media(max-width: 320px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&_gray {
		background-color: $bg-light-color;
		}
	&__title {
		font-size: 48px;
		text-align: center;
		margin-bottom: 25px;
		letter-spacing: 2px;
		@media(max-width: 480px) {
			font-size: 44px;
			line-height: 50px;
		}
	}
	&__subtitle {
		font-size: 18px;
		color: $accent-color;
		text-align: center;
		letter-spacing: 0.9px;
	}
	&__btn {
		background: -webkit-gradient(linear, right bottom, left top, from(#65e49c), to(#65e4af));
		background: linear-gradient(to top left, #65e49c, #65e4af);
		border: none;
		color: $light-color;
		text-decoration: none;
		border-radius: 3px;
		text-align: center;
		font-size: 18px;
		margin-top: 28px;
		padding: 11px 45px 15px 45px;
		letter-spacing: 0.7px;
		-webkit-box-shadow: inset 0 -2px #adedbb;
		        box-shadow: inset 0 -2px #adedbb;
	}
	&__svg {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		min-height: 694px;
		@media(max-width: 1020px) {
			display: none;
		}
	}
	&-carousel {
		@media(max-width: 1020px) {
			background-color: $bg-dark-color;
		}
	}
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding: 38px 15px 162px 15px;
	@media(max-width: 1020px) {
		padding: 38px 15px 100px 15px;
	}
	@media(max-width: 920px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		padding: 38px 15px 100px 15px;
	}
	&__logo {
			display: block;
			width: 137px;
			height: 28px;
			background-image: url(../img/logo.svg);
			background-repeat: no-repeat;
	}
	&-list {
		list-style-type: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		@media(max-width: 920px) {
			padding-left: 0;
		}
		@media(max-width: 768px) {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			padding-right: 0;
		}
		font-family: 'Open Sans', serif;
		&__item {
			margin-left: 22px;
			padding-bottom: 5px;
			border-bottom: 3px solid transparent;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			&:hover {
				border-bottom: 3px solid $accent-color;
			}
		}
			&__item.active {
				border-bottom: 3px solid $accent-color;
			}
			&__link {
				color: $light-color;
				text-decoration: none;
				letter-spacing: 0.5px;
		}
  }
}

.block-text {
	-ms-flex-preferred-size: calc(93% - 360px);
			flex-basis: calc(93% - 360px);
	&--ml {
		margin-left: 40px;
	}
	@media(max-width: 1020px) {
		-ms-flex-preferred-size: calc(93% - 315px);
		    flex-basis: calc(93% - 315px);
	}
	@media(max-width: 700px) {
		text-align: center;
	}
	&--width {
		-ms-flex-preferred-size: calc(93% - 520px);
		    flex-basis: calc(93% - 520px);
		@media(max-width: 1020px) {
			-ms-flex-preferred-size: calc(93% - 315px);
			    flex-basis: calc(93% - 315px);
		}
	}
  &__name {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    letter-spacing: 0.8px;
		margin-bottom: 43px;
		margin-left: 4px;
		margin-top: 1px;
  }
  &__name_top {
    margin-top: 16px;
		margin-left: 0;
		margin-bottom: 19px;
  }
  &__title {
    margin-bottom: 38px;
		font-size: 48px;
		line-height: 53px;
    font-weight: 700;
		letter-spacing: 1.8px;
		@media(max-width: 480px) {
			font-size: 44px;
			line-height: 50px;
		}
    span {
			display: block;
			margin-top: 23px;
			color: $accent-color;
			font-size: 18px;
			line-height: 23px;
			margin-top: 11px;
			margin-bottom: 38px;
			margin-left: 3px;
			letter-spacing: 0.9px;
		}
  }
  &__desc {
		margin-bottom: 24px;
		font-family: 'Open Sans', serif;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0.7px;
}
  &__btn {
		display: block;
		margin-top: 47px;
		margin-bottom: 19px;
		padding: 11px 0 15px 0;
		background: -webkit-gradient(linear, right bottom, left top, from(#65e49c), to(#65e4af));
		background: linear-gradient(to top left, #65e49c, #65e4af);
		color: $light-color;
		text-decoration: none;
		max-width: 250px;
		border-radius: 3px;
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.7px;
		-webkit-box-shadow: inset 0 -2px #adedbb;
		        box-shadow: inset 0 -2px #adedbb;
	}
	&__btn--main {
		-webkit-box-shadow: inset 0 -2px #59ba88;
		        box-shadow: inset 0 -2px #59ba88;
		@media(max-width: 1020px) {
			margin: 47px auto 19px;
		}
	}
    small {
			font-family: 'Open Sans', serif;
			font-style: italic;
			letter-spacing: 0.4px;
	}
	&-item {
		margin-bottom: 55px;
		&__date {
			margin-bottom: 4px;
			font-size: 15px;
			font-family: 'Open Sans', serif;
			letter-spacing: 0.8px;
		}
		&__title {
			margin-bottom: 16px;
			font-size: 18px;
			letter-spacing: 0.9px;
		}
		&__desc {
			font-size: 15px;
			font-family: 'Open Sans', serif;
			letter-spacing: 0.75px;
		}
		&__btn {
			display: block;
			margin-top: 24px;
			padding: 11px 0 15px 0;
			background: -webkit-gradient(linear, right bottom, left top, from(#65e49c), to(#65e4af));
			background: linear-gradient(to top left, #65e49c, #65e4af);
			color: $light-color;
			text-decoration: none;
			max-width: 137px;
			border-radius: 3px;
			text-align: center;
			font-size: 18px;
			letter-spacing: 0.7px;
			-webkit-box-shadow: inset 0 -2px #adedbb;
			        box-shadow: inset 0 -2px #adedbb;
			@media(max-width: 700px) {
				margin: 24px auto 0;
			}
		}
	}
}

.block-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	@media(max-width: 1020px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		text-align: center;
	}
  &-demo {
		display: block;
		position: relative;
    width: 447px;
    height: 643px;
    background-image: url(../img/book.svg);
    background-repeat: no-repeat;
		-ms-flex-preferred-size: 450px;
		    flex-basis: 450px;
		@media(max-width: 1020px) {
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
			margin: 56px auto 0;
		}
		@media(max-width: 480px) {
			width: 280px;
			height: 460px;
		}
		&__title {
			font-size: 36px;
			text-transform: uppercase;
			color: $light-color;
			position: absolute;
			letter-spacing: 1.4px;
			left: 131px;
			top: 118px;
			@media(max-width: 480px) {
				font-size: 28px;
				left: 60px;
			}
			span {
				font-family: 'Open Sans', serif;
				font-size: 14px;
				color: $accent-color;
				display: block;
				text-transform: initial;
				margin-top: 10px;
				letter-spacing: 0.7px;
			}
		}
		&__author {
			font-family: 'Open Sans', serif;
			font-size: 14px;
			color: $accent-color;
			position: absolute;
			bottom: 52px;
			left: 87px;
			letter-spacing: 0.7px;
		}
	}
}
.block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	@media(max-width: 700px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	&--up {
		@media(max-width: 700px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
	}
}
.block-ava {
  position: relative;
	margin-top: 8px;
	@media(max-width: 700px) {
		margin: 8px auto 0;
	}
  &__svg {
    position: absolute;
    right: 0;
		z-index: -1;
		@media(max-width: 1020px) {
			width: 300px;
			height: 412px;
		}
		@media(max-width: 700px) {
			display: none;
		}
	}
	&__svg--left {
		right: inherit;
		left: 0;
	}
  &__img {
    margin-top: 47px;
		margin-right: 44px;
		@media(max-width: 1020px) {
			width: 300px;
		}
		@media(max-width: 700px) {
			margin-right: 0;
		}
	}
	&__img--left {
		margin-top: 49px;
		margin-left: 51px;
		margin-right: 0;
	}
	&__img--center {
		@media(max-width: 700px) {
			margin-left: 0;
		}
	}
}

.block-counter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 152px;
	@media(max-width: 750px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 80px;
	}
	@media(max-width: 320px) {
		margin-top: 50px;
	}
	p {
		font-family: 'Open Sans', serif;
		text-align: center;
		font-size: 18px;
		@media(max-width: 750px) {
			margin-bottom: 80px;
		}
		@media(max-width: 700px) {
			margin-bottom: 40px;
		}
		@media(max-width: 320px) {
			font-size: 15px;
			margin-bottom: 40px;
		}
		span {
			font-family: 'Roboto Slab', serif;
			display: block;
			font-size: 80px;
			font-weight: 100;
			color: $accent-color;
			margin-bottom: 45px;
			@media(max-width: 700px) {
				font-size: 60px;
			}
			@media(max-width: 320px) {
				font-size: 42px;
				margin-bottom: 20px;
			}
		}
	}
}

.block-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 82px;
	@media(max-width: 1020px) {
		margin: 82px auto 0;
		max-width: 750px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	@media(max-width: 600px) {
		margin: 82px auto 0;
	}
	@media(max-width: 320px) {
		margin-top: 50px;
	}
	h3 {
		margin-bottom: 20px;
	}
	&-text {
		-ms-flex-preferred-size: calc(100% - 690px);
		    flex-basis: calc(100% - 690px);
		@media(max-width: 1020px) {
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
		}
		@media(max-width: 320px) {
			text-align: center;
		}
		&__desc {
			font-family: "Open Sans", serif;
			letter-spacing: 0.6px;
		}
	}
	&-table {
		-ms-flex-preferred-size: 585px;
		    flex-basis: 585px;
		@media(max-width: 1020px) {
			margin-top: 40px;
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
		}
		&__list {
			margin: 0;
			padding: 0;
			margin-bottom: 30px;
			counter-reset: list;
			-webkit-column-count: 2;
			        column-count: 2;
			-webkit-column-gap: 19px;
			        column-gap: 19px;
			@media(max-width: 600px) {
				-webkit-column-count: 1;
				        column-count: 1;
			}
			&>li {
				position: relative;
				padding-left: 36px;
				counter-increment: list;
				list-style-type: none;
				margin-bottom: 8px;
				letter-spacing: 0.7px;
				&:before {
					content: counter(list) ". ";
				}
				&:after {
					content: "+";
					font-family: "Open Sans", serif;
					font-size: 15px;
					line-height: 22px;
					position: absolute;
					left: 0;
					top: 1px;
					background-color: #5fc9b3;
					color: $light-color;
					padding: 0px 7px;
					@media(max-width: 600px) {
						
					}
				}
			}
		}
		&__list_next {
			counter-reset: list 10;
			position: relative;
			&:before {
				content: '';
				width: 100px;
				height: 2px;
				background-color: #5fc9b3;
				display: block;
				position: absolute;
				top: -16px;
			}
		}
		&__btn {
			background: -webkit-gradient(linear, right bottom, left top, from(#65e49c), to(#65e4af));
			background: linear-gradient(to top left, #65e49c, #65e4af);
			border: none;
			color: $light-color;
			text-decoration: none;
			border-radius: 3px;
			text-align: center;
			font-size: 18px;
			margin-top: 28px;
			padding: 11px 45px 15px 45px;
			letter-spacing: 0.7px;
			margin-bottom: 19px;
			-webkit-box-shadow: inset 0 -2px#adedbb;
			        box-shadow: inset 0 -2px#adedbb;
			cursor: pointer;
			&:focus {
				outline: none;
			}
			@media(max-width: 320px) {
				display: block;
				margin: 28px auto 0;
			}
			}
		}
	&-social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-top: 14px;
		&__title {
			font-family: "Roboto Slab", serif;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 0.9px;
		}
		&__list {
			list-style-type: none;
			padding-left: 23px;
			&>li {
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				margin-right: 12px;
				&>a {
					color: $accent-color;
				}
			}
		}
	}
}
.block-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 85px;
	@media(max-width: 1020px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	&-item {
		text-align: center;
	}
	&-demo {
		display: block;
		margin: 0 auto 35px;
		position: relative;
		width: 269px;
		height: 409px;
		background-image: url(../img/book_small.svg);
		background-repeat: no-repeat;
		-ms-flex-preferred-size: 500px;
		    flex-basis: 500px;
		&__title {
			max-width: 200px;
			color: $light-color;
			font-size: 24px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.96px;
			position: absolute;
			top: 70px;
			left: 73px;
		}
		&__span {
			color: $accent-color;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.52px;
			display: block;
			text-transform: initial;
			position: absolute;
			top: 100px;
			left: 69px;
		}
		&__author {
			color: $accent-color;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.6px;
			position: absolute;
			bottom: 27px;
			left: 82px;
			}
		}
		&-text {
			h3 {
				margin-bottom: 17px;
			}
			p {
				font-size: 15px;
				max-width: 316px;
				letter-spacing: 0.7px;
				margin-bottom: 17px;
				@media(max-width: 1020px) {
					margin: 0 auto 17px;

				}
			}
			a {
				color: $accent-color;
				font-family: "Open Sans", serif;
				font-size: 15px;
				font-weight: 700;
				line-height: 24px;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0.5px;
				padding-bottom: 5px;
				-webkit-transition: 0.3s;
				transition: 0.3s;
				@media(max-width: 1020px) {
					display: block;
					margin: 0 auto 50px;
					max-width: 120px;
				}
				&:hover {
					border-bottom: 3px solid $accent-color;
				}
			}
		}
	}
.block-product__btn {
	text-align: center;
	margin-top: 90px;
	a {
		display: inline-block;
		margin-top: -8px;
		background: -webkit-gradient(linear, right bottom, left top, from(#65e49c), to(#65e4af));
		background: linear-gradient(to top left, #65e49c, #65e4af);
		text-decoration: none;
		border-radius: 3px;
		color: $light-color;
		font-size: 18px;
		padding: 16px 34px;
		letter-spacing: 0.7px;
		-webkit-box-shadow: inset 0 -2px #adedbb;
		        box-shadow: inset 0 -2px #adedbb;
		border: none;
	}
}

.block-blog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 85px;
	@media(max-width: 900px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 600px;
		margin: 85px auto 0;
	}
	&-item {
		-ms-flex-preferred-size: 32%;
		    flex-basis: 32%;
		@media(max-width: 900px) {
			margin-bottom: 40px;
		}
		@media(max-width: 320px) {
			margin-bottom: 20px;
		}
	}
	h4 {
		margin-bottom: 4px;
		font-size: 18px;
		letter-spacing: 0.9px;
		@media(max-width: 320px) {
			font-size: 15px;
		}
	}
	&-img {
		margin-top: 86px;
		margin-right: 30px;
		width: 100%;
		height: 224px;
		overflow: hidden;
		position: relative;
		@media(max-width: 700px) {
			margin-top: 15px;
		}
		img {
			width: 100%;
			height: 224px;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			-o-object-fit: cover;
			   object-fit: cover;
		}
	}
	&-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		font-size: 15px;
		letter-spacing: 0.8px;
		margin-bottom: 12px;
		a {
			color: $accent-color;
			text-decoration: none;
		}
	}
	&-desc {
		margin-top: 14px;
		font-size: 15px;
		font-family: "Open Sans", serif;
		letter-spacing: 0.75px;
	}
	& + .page__btn {
		display: block;
		margin: 84px auto 0;
		padding: 13px 19px;
		max-width: 227px;
	}
}

.block-letter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	@media(max-width: 1020px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
	}
	&-item {
		-ms-flex-preferred-size: 49%;
		    flex-basis: 49%;
		@media(max-width: 1020px) {
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
		}
	}
	&__title {
		margin-top: 8px;
		margin-bottom: 23px;
		font-size: 48px;
		letter-spacing: 1.9px;
		@media(max-width: 480px) {
			font-size: 44px;
			line-height: 50px;
		}
		}
	&__text {
		font-family: "Open Sans", serif;
		font-size: 15px;
		letter-spacing: 0.75px;
		@media(max-width: 1020px) {
			margin-bottom: 40px;
		}
	}
	&__input {
		margin-top: 20px;
		width: 100%;
		background-color: $bg-dark-color;
		border: none;
		border-radius: 3px;
		color: $gray-color;
		padding: 15px 27px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		letter-spacing: 0.6px;
		@media(max-width: 1020px) {
			max-width: 500px;
		}
		&:focus {
			outline: none;
		}
		&:placeholder {
			color: $gray-color;
		}
	}
	&__btn {
		background: -webkit-gradient(linear, right bottom, left top, from(#65e49c), to(#65e4af));
		background: linear-gradient(to top left, #65e49c, #65e4af);
		border: none;
		color: $light-color;
		text-decoration: none;
		border-radius: 3px;
		text-align: center;
		font-size: 18px;
		margin-top: 21px;
		padding: 11px 0 15px 0;
		letter-spacing: 0.7px;
		-webkit-box-shadow: inset 0 -2px #adedbb;
		        box-shadow: inset 0 -2px #adedbb;
		display: block;
		width: 100%;
		@media(max-width: 1020px) {
			max-width: 500px;
			margin: 21px auto 0;
		}
		&:focus {
			outline: none;
		}
	}
}

.footer {
	background-color: $bg-dark-color;
	color: $gray-color;
	padding-top: 167px;
	padding-bottom: 196px;
	@media(max-width: 1020px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media(max-width: 700px) {
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: center;
	}
}
.block-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	@media(max-width: 900px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	&>div {
		max-width: 372px;
		@media(max-width: 900px) {
			max-width: 100%;
		}
	}
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/logo-footer.svg);
		@media(max-width: 700px) {
			margin: auto;
		}
	}
	&__title {
		margin-top: 10px;
		font-size: 18px;
		color: $accent-color;
	}
	&__text {
		margin-top: 26px;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0.6px;
	}
	&__copyright {
		margin-top: 24px;
	}
	&__list {
		margin-top: 16px;
		list-style-type: none;
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.6px;
		padding-left: 0;
	}
	&__social {
		margin-top: -14px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style-type: none;
		padding-left: 0;
		@media(max-width: 700px) {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			margin-top: 14px;
		}
		&>li {
			margin-right: 10px;
			&>a {
				color: $accent-color;
			}
		}
	}
}

.block-carousel {
	text-align: center;
	h3 {
		color: $accent-color;
		margin-bottom: 4px;
	}
	&__desc {
		color: $gray-color;
		font-family: "Open Sans", serif;
		max-width: 760px;
		margin: 0 auto;
		line-height: 27px;
		letter-spacing: 0.75px;
	}
	&__expert {
		margin-bottom: 32px;
	}
	&-ava {
		display: block;
		margin: 0 auto 27px;
		position: relative;
		width: 152px;
		height: 152px;
	}
	&-bq {
		position: absolute;
		display: block;
		background-image: url(../img/bq.png);
		background-repeat: no-repeat;
		width: 48px;
		height: 42px;
		top: 0;
		right: -15px;
	}
	&-thumb {
		display: block;
		margin: 0 auto 0;
		position: relative;
		overflow: hidden;
		width: 152px;
		height: 152px;
		border-radius: 100%;
		img {
			width: 152px;
			height: 152px;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			-o-object-fit: cover;
			   object-fit: cover;
		}
	}
}

.slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	list-style-type: none;
	padding: 0;
	&>li {
		margin: 0px 5px;
		&>button {
			text-indent: -9999px;
			width: 8px;
			height: 8px;
			border: none;
			background-color: $accent-color;
			border-radius: 100%;
			line-height: 8px;
			font-size: 0;
			cursor: pointer;
			padding: 5px;
			&:focus {
				outline: none;
			}
		}
	}
	&>li.slick-active {
		&>button {
			width: 37px;
			border-radius: 10px;
		}
	}
}