@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/fonts";
@import "libs";

$light-color: #fff;
$accent-color: #65e496;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}
.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 155px;
}

.page {
    padding-top: 161px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 162px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    margin-left: 54px;
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 0.8px;
        margin-bottom: 30px;
    }
    &__name-top {
        margin-top: 16px;
        margin-left: 0;
    }
    &__title {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        span {
            display: block;
            margin-top: 9px;
            color: $accent-color;
            font-size: 18px;
            letter-spacing: 0.9px;
        }
    }
    &__desc {
        margin-bottom: 24px;
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.7px;
    }
    &__btn {
        display: block;
        margin-top: 47px;
        margin-bottom: 19px;
        padding: 14px 0;
        background-color: $accent-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.7px;
    }
    small {
        font-family: 'Open Sans', serif;
        font-style: italic;
        letter-spacing: 0.4px;
    }
}

.block-book {
    display: flex;
    justify-content: flex-start;
    &__demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 445px;
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
}
.block-ava {
    position: relative;
    margin-right: -55px;
    margin-top: 8px;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &__img {
        margin-top: 47px;
        margin-right: 44px;
    }
}